# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Clicker.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\source\Clicker\.idea\.idea.Clicker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
